@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #fff;
    --black: #000;
    --logo-accent: #7A683E;
}

.text-logo {
    color: var(--logo-accent);
}


.text-accent {
    -moz-text-fill-color: var(--white);
    -webkit-text-fill-color: var(--white);
    -moz-text-stroke-color: var(--white);
    -webkit-text-stroke-color: var(--white);
    -moz-text-stroke-width: 2px;
    -webkit-text-stroke-width: 2px;
    font-family: kepler-std-semicondensed-dis, serif;
    font-style: italic;
}

.bioText {
    background: rgba(0, 0, 0, 0.658);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
}

body {
    font-family: 'RocknRoll One', sans-serif;
    line-height: 1.5;
    background-image: url('/assets/img/background.png');
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 30px;
}

h1 span {
    background: #231F20;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 15px;
    backdrop-filter: blur(11px);
}

a span {
    background: #231F20;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 15px;
    backdrop-filter: blur(11px);
}

h3 {
    font-family: kepler-std-semicondensed-dis, serif;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 30px;
}


.showcase {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.video-container:after {
    content: '';
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.content {
    z-index: 2;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
    border: solid #fff 1px;
    margin-top: 25px;
    opacity: 0.7;
}

.btn:hover {
    transform: scale(0.98);
}

.navTitle {
    font-family: kepler-std-semicondensed-dis, serif;
    font-style: italic;
    font-size: xx-large;
    -moz-text-fill-color: var(--white);
    -webkit-text-fill-color: var(--white);
    -moz-text-stroke-color: var(--white);
    -webkit-text-stroke-color: var(--white);
    -moz-text-stroke-width: 2px;
    -webkit-text-stroke-width: 2px;
    font-size: 50px;
    margin-top: 20vh;
}


.carousel-item {
    height: 600px;
    overflow: hidden;
    width: 100%;
}

.carousel-item img {
    width: 100%;
}

#bio {
    padding: 40px;
    text-align: center;
}

#bio p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: auto;
}

#bio h2 {
    margin: 30px 0;
}

footer  {
    background: rgba(0, 0, 0, 0.658);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
}

/* SOUND STUFF */
#MuteButton::before {
    content:  '🔈';
}

#MuteButton.muted::before {
    content:  '🔇';
}

#MuteButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: rgba(0,0,0,.5);
  border: none;
  color: #fff;
  z-index: 5;
  font-size: 2rem;
  border-radius: 2rem;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
}


/* mobile devices */

@media screen and (max-width: 516px) {
    .navTitle {
        font-size: 30px;
    }

    h1 span {
        font-size: 35px;
        padding: 0 10px;
    }

    h1 {
        font-size: 40px!important;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        display: none;
    }

    .carousel-item {
        height: 200px;
    }

    .logo {
        margin-bottom: 25px;
    }

    body {
        background-image: url('/assets/img/guitare2.jpg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
}



/* links style + FORM */


/* OLD TV  */


/* text style  */
