* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'RocknRoll One', sans-serif;
    line-height: 1.5;
    background-image: url('/assets/img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.logo {
    backdrop-filter: blur(3px);
}

:root {
    --white: #fff;
    --black: #000;
    --logo-accent: #7A683E;
}

.text-accent {
    -moz-text-fill-color: var(--white);
    -webkit-text-fill-color: var(--white);
    -moz-text-stroke-color: var(--white);
    -webkit-text-stroke-color: var(--white);
    -moz-text-stroke-width: 2px;
    -webkit-text-stroke-width: 2px;
    font-family: kepler-std-semicondensed-dis, serif;
    font-style: italic;
}

.langWrap {
    margin: auto;
    backdrop-filter: blur(2px);
}


h1 {
    font-weight: 300;
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 30px;
}

h1 span {
    background: #231F20;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 15px;
    backdrop-filter: blur(11px);
}

@media screen and (max-width: 516px) {
    .country {
        width: 35px!important;
        margin-top: 10px;
    }

    .logo {
        margin-top: 350px!important;
        background-color: rgba(255, 255, 255, 0.432);
        border-radius: 10px;
    }

    .languageSelect{
        font-size: 31px;
    }

    body { 
    background-image: url('/assets/img/background.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    }
}